@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500;700&display=swap');

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    margin: auto;
    padding: 0.5%;
    margin-top: 0%;
    top: 0;
    left: 5%;
    width: 80%;
    height: 100%;
}

.menuBar {
    background-image: linear-gradient(#A258B8, white);
    overflow: hidden;
    height: 60px;
    display: flex;
    /*position: -webkit-sticky;
    position: sticky;
    top: 0%;
    left: 5%;
    padding: 0.5%;
    width: 100%;
    margin: auto;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    background-color: #ad7b66;
    align-items: center;*/
}

.menuButton {
    /*color: white;
    font-family: 'Poppins';
    font-size: 120%;
    text-decoration: none;*/

    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menuButton:hover {
    /*background-color: #dab09b;
    border-radius: 16px;
    padding-right: 2%;
    padding-left: 2%;
    margin-left: -2%;
    margin-right: -2%;*/

    background-color: #ddd;
    color: black;
}
/*
.menuButton.active{
    background-color: #04AA6D;
    color: white;
}
*/


input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 5px; /* Rounded borders */
    box-sizing: border-box; /* How long are the boxes*/
    margin-top: 16px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email] {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 5px; /* Rounded borders */
    box-sizing: border-box; /* How long are the boxes*/
    margin-top: 16px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=password] {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 5px; /* Rounded borders */
    box-sizing: border-box; /* How long are the boxes*/
    margin-top: 16px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */

}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #A258B8;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Tajawal", sans-serif;
    font-weight: 700;
    font-size: 18px;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
}

label {
    font-family: "Tajawal", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #A258B8;
}

/* When moving the mouse over the submit button, add a darker green color */
input.b[type=submit]:hover {
    background-color: #784087;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 20%;
    padding: 1%;
}

/* Create two columns that float next to eachother */

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.profile-pic-div {
    height: 50%;
    width: 50%;
    position: relative;
    top: 500%;
    left: 15%;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid #A258B8;
}

#photo {
    height: 100%;
    width: 100%;
}

#file {
    display: none;
}

#uploadBtn {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(162, 88, 184, 0.5);
    color: white;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none;
}
