/*Imports the main font from Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500;700;800&display=swap');

/* GENERAL PROPRIETIES */

body {
    /* Sets margin to 0 => body extends in every corner */
    margin: 0;
    /* Sets all text to font Tajawal */
    font-family: Tajawal, sans-serif;
}

label {
    /* proprieties for text format for labels */
    font-family: "Tajawal", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #A258B8; /* color of the text */
}

/* INPUT PROPRIETIES */

/* proprieties for input text, select and textarea type */
input[type=text], select, textarea {
    font-family: "Tajawal", sans-serif; /* font */
    font-weight: 500; /* weight */
    font-size: 14px; /* size */
    color: #999999; /* color */
    width: 100%; /* Full width */
    padding: 12px; /* Some padding, same in all four directions: top, bottom, left, right */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 5px; /* Rounded borders */
    box-sizing: border-box; /* How long are the boxes*/
    margin-top: 16px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* proprieties for input email type */
input[type=email] {
    font-family: "Tajawal", sans-serif; /* font */
    font-weight: 500; /* weight */
    font-size: 14px; /* size */
    color: #999999; /* color */
    width: 100%; /* Full width */
    padding: 12px; /* Some padding, same in all four directions: top, bottom, left, right */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 5px; /* Rounded borders */
    box-sizing: border-box; /* How long are the boxes*/
    margin-top: 16px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* proprieties for input password */
input[type=password] {
    font-family: "Tajawal", sans-serif; /* font */
    font-weight: 500; /* weight */
    font-size: 14px; /* size */
    color: #999999; /* color */
    width: 85%; /* Full width */
    padding: 12px; /* Some padding, same in all four directions: top, bottom, left, right */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 5px; /* Rounded borders */
    box-sizing: border-box; /* How long are the boxes*/
    margin-top: 16px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* proprieties for submit button */
input[type=submit] {
    float: right;
    background-color: #A258B8; /* color of the button */
    color: white; /* color of the text */
    padding: 10px 20px; /* padding: 10px for top&bottom and 20px for left&right */
    border: none; /* for a sleek look, to avoid borders of html buttons */
    border-radius: 4px; /* to round the button, used px and not % to round the corners and not the edges */
    cursor: pointer; /* indicates a link, cursor become a pointing hand */
    font-family: "Tajawal", sans-serif; /* font */
    font-weight: 700; /* weight */
    font-size: 18px; /* size */
}

/* proprieties for when submit button is hovered */
input[type=submit]:hover {
    background-color: #954FA8; /* color of the button */
}

/* proprieties input of search bar*/
input[type=search] {
    font-family: "Tajawal", sans-serif; /* font */
    font-size: 12px; /* size */
    width: 100%; /* Full width */
    outline-color: #A258B8; /* when clicked and while in the search bar, there will be a #A258B8 border */
    padding: 10px; /* Some padding between text and box, same in all four directions: top, bottom, left, right */
    border: 1px solid #A258B8; /* #A258B8 border */
    border-radius: 5px; /* Rounded border, used px and not % to round the corners and not the edges */
    box-sizing: border-box; /* How long are the boxes*/
    margin-top: 13px; /* Add a top margin */
    margin-bottom: 13px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* CLASSES */

/* proprieties for the header */
.navBar {
    background-image: linear-gradient(#A258B8, white); /* make the header's background a gradient */
    height: 60px; /* set height */
    position: relative; /* */
    display: flex; /* flex mode => elements go one after another on one single line */
    flex-wrap: wrap; /* elements break into multiple lines, depending on the space there is */
}

/* column that floats to the left in the navBar*/
.navBar__left {
    width: 70%; /* takes 70% of the navBar's width */
    height: 100%;
    float: left;
}

/* proprieties for the logo icon */
.navBar__logo {
    float: left; /* arrange starting from left, after the last element from left */
    height: 22px; /* fixed height */
    width: 30px; /* fixed width*/
    padding: 15px 0 0 30px; /* some padding*/
}

/* proprieties for the text from the logo */
.navBar__textLogo {
    float: left; /* arrange starting from left, after the last element from left */
    color: white; /* color of the text */
    font-family: "Tajawal", sans-serif; /* font */
    font-weight: 800;
    font-size: 30px;
    padding: 4px 0 0 4px;
    text-decoration: none; /* text is originally a link. Used to not underline */
}

/* proprieties of the search bar */
.navBar__search {
    height: 90%; /* take 90% of the left's height */
    float: left; /* arrange starting from left, after the last element from left */
    width: 60%; /* take 60% of the left's width */
    padding-left: 5px;
    display: flex; /* flex mode => elements go one after another on one single line */
}

/* proprieties of the search icon */
.navBar__searchIcon {
    height: 20px; /* set height */
    width: 20px; /* set width */
    padding: 17px 2px 0 0; /* padding */
    margin-left: -25px; /* to overflow over the search bar*/
}

/* proprieties of the menu icon */
.accordion__catIcon {
    height: 27px;
    width: 23px;
    padding: 13px 2px 4px 5px;
}

.accordion__catIcon:hover {
    background-image: linear-gradient(#A258B8, white);
}

.accordion {
    cursor: pointer;
    transition: 0.5s;
}

.accordion__cat {
    grid-template-columns:auto auto auto auto;
    float: right;
    margin-right: -40px;
    display: none;
    row-gap: 10px;
    box-shadow: 5px 5px 5px rgba(57, 18, 78, 0.31);
    border-radius: 10px;
    background-color: white;
    position: relative;
    width: 40%;
    height: 200%;
    padding: 12px;
    overflow: hidden;
    box-sizing: border-box;
}

.accordion__catBtn:hover {
    background-color: #f2f2f2;
}

.accordion__catBtn {
    row-gap: 10px;
    column-gap: 10px;
    cursor: pointer;
    border: 1px solid rgba(171, 48, 236, 0.16);
    border-radius: 10px;
    background-color: white;
    position: relative;
    padding: 5px;
    margin: 5px;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
}

/* column that floats to the right in the navBar*/
.navBar__right {
    width: 30%; /* takes 30% of the navBar's width */
    height: 100%;
    float: right;
}

/* proprieties of the account icon */
.navBar__pictureAccount {
    float: right; /* arrange starting from right, after the last element from left */
    position: relative;
    height: 25px; /* fixed height */
    width: 25px; /*fixed width */
    margin-right: 12%;
    border-radius: 100%; /* gives circle shape */
    border: 1px solid #A258B8;
    margin-top: 10px;
}
/* proprieties of the notification icon */
.navBar__helpIcon {
    float: right; /* arrange starting from right, after the last element from left */
    height: 37%;
    margin-top: 3px;
    padding: 10px;
}

/* proprieties of the notification icon */
.navBar__aboutIcon {
    float: right; /* arrange starting from right, after the last element from left */
    height: 37%;
    margin-top: 9px;
    padding: 5px 0 0 0;
}

/* proprieties of the notification icon */
.accordion__notificationsIcon {
    float: right; /* arrange starting from right, after the last element from left */
    height: 40%;
    padding: 14px;
}

.accordion__notifications {
    margin-right: -40px;
    display: none;
    margin-top: 50px;
    box-shadow: 5px 5px 5px rgb(57 18 78 / 31%);
    border-radius: 10px;
    background-color: white;
    position: absolute;
    width: 25%;
    height: 400%;
    padding: 12px;
    overflow: auto;
    box-sizing: border-box;
}

.accordion__notificationsText:hover {
    background-color: #f2f2f2;
}

.accordion__notificationsText {
    cursor: pointer;
    border: 1px solid rgba(171, 48, 236, 0.16);
    border-radius: 10px;
    background-color: white;
    position: relative;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    box-sizing: border-box;
}

/* proprieties of notification text */
.accordion__notificationsTitle {
    font-family: "Tajawal", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #A258B8;
    padding-right: 30px;
}

.accordion__notificationsLeft {
    width: 20%; /* of the underVideo */
    display: grid;
    height: 50%;
    float: left;
}

.navBar__userPicture {
    float: left;
    position: relative;
    height: 30px;
    width: 30px;
    margin-top: 5px;
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid #A258B8;
}

.accordion__notificationsRight {
    float: right;
    display: grid;
    width: 80%; /* of the underVideo */
    height: 50%; /* of the underVideo */
}

/* proprieties of the upload icon */
.navBar__uploadIcon {
    float: right; /* arrange starting from right, after the last element from left */
    height: 35%;
    padding: 14px 0 12px 14px;
}

/* proprieties of the trending button */
.navBar__trendingBtn {
    float: right;
    vertical-align: middle; /* vertical alignment */
    text-align: center; /* horizontal alignment */
    height: 45%; /* takes 45% of the left's height */
    font-family: "Tajawal", sans-serif;
    font-weight: 800;
    font-size: 15px;
    color: #f2f2f2; /* color of the text */
    text-decoration: none; /* text is originally a link. Used to not underline */
    margin-top: 12px;
    margin-bottom: 20px;
    background-color: #A258B8;
    padding: 2px 2% 0 2%;
    box-sizing: border-box;
    border-radius: 5px;
}

/* proprieties for when submit button is hovered */
.navBar__trendingBtn:hover {
    background-color: #954FA8; /* color of the button */
}

/* for a neat arrangement in the center of the screen, oes not take all the body */
.background {
    overflow: hidden;
    margin: auto; /* some margins, auto so it splits equally */
    width: 80%; /* takes up only 80% of the body's width */
}

/* column, there are two in the background div */
.background__column {
    float: left;
    width: 50%; /* of the background block */
    padding-top: 5%;
}

/* Clear floats after the columns */
.background__row:after {
    content: "";
    display: table;
    clear: both;
}
.navBar__resetPasswdBtn {
    float: right;
    vertical-align: middle; /* vertical alignment */
    text-align: center; /* horizontal alignment */
    height: 45%; /* takes 45% of the left's height */
    font-family: "Tajawal", sans-serif;
    font-weight: 800;
    font-size: 15px;
    color: #f2f2f2; /* color of the text */
    text-decoration: none; /* text is originally a link. Used to not underline */
    margin-top: 25px;
    /*margin-bottom: 20px;*/
    background-color: #A258B8;
    padding: 0 2% 0 2%;
    box-sizing: content-box;
    border-radius: 5px;
}
/* proprieties for picture upload*/
.background__profilePic {
    height: 40%; /* of background div */
    width: 40%; /* of background div */
    position: relative;
    left: 15%; /* lets 15% of background div empty and then puts the photo */
    border-radius: 100%; /* makes it a circle */
    overflow: hidden;
    border: 1px solid #A258B8;
    display: flex;
}

/* proprieties of "Want to change accounts?" */
.background__textChgAccount {
    color: #A258B8;
    font-family: "Tajawal", sans-serif;
    font-weight: 800;
    font-size: 25px;
    padding-top: 4px;
    padding-right: 4px;
}

/* proprieties of "Connect to another account" */
.background__textLnkChg {
    color: rgba(97, 36, 133, 0.94);
    font-family: "Tajawal", sans-serif;
    font-weight: 800;
    font-size: 20px;
    padding-top: 4px;
    padding-right: 4px;
    text-align: center;
}

/* style the placeholder */
::placeholder {
    font-family: "Tajawal", sans-serif;
    color: grey;
    font-size: 12px;
}

/* style element with id=photo */
#photo {
    height: 100%;
    width: 100%;
}

/* style element with id=uploadBtn */
#uploadBtn {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); /* put button on the image */
    text-align: center;
    background: rgba(162, 88, 184, 0.5);
    color: white;
    line-height: 30px;
    font-family: Tajawal, sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none; /* display only when hovered */
}




