/*Imports the main font from Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700;800&display=swap');

/* GENERAL PROPRIETIES */

body {
    /* Sets margin to 0 => body extends in every corner */
    margin: 0;
    /* Sets all text to font Tajawal */
    font-family: Tajawal, sans-serif;
}

label {
    /* proprieties for text format for labels */
    font-family: "Tajawal", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #A258B8; /* color of the text */
}

/* INPUT PROPRIETIES */

/* proprieties input of search bar*/
input[type=search] {
    font-family: "Tajawal", sans-serif; /* font */
    font-size: 2vh; /* size */
    width: 100%; /* Full width */
    outline-color: #A258B8; /* when clicked and while in the search bar, there will be a #A258B8 border */
    padding: 1.7vh; /* Some padding between text and box, same in all four directions: top, bottom, left, right */
    border: 0.16vh solid #A258B8; /* #A258B8 border */
    border-radius: 0.8vh; /* Rounded border, used px and not % to round the corners and not the edges */
    box-sizing: border-box; /* How long are the boxes*/
    margin-top: 2vh; /* Add a top margin */
    margin-bottom: 2vh; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type="text"], textarea {
    float: left;
    font-family: "Tajawal", sans-serif;
    font-weight: 500;
    font-size: 2.3vh;
    outline: none;
    color: #999999;
    width: 70%;
    padding: 2vh;
    border: 0.16vh solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 3vh;
    margin-left: 3.3vh;
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */;
}

/* CLASSES */

/* proprieties for the header */
.navBar {
    background-image: linear-gradient(#A258B8, white); /* make the header's background a gradient */
    height: 10vh; /* set height */
    position: relative; /* */
    display: flex; /* flex mode => elements go one after another on one single line */
    flex-wrap: wrap; /* elements break into multiple lines, depending on the space there is */
}

/* column that floats to the left in the navBar*/
.navBar__left {
    width: 70%; /* takes 70% of the navBar's width */
    height: 100%;
    float: left;
}

/* proprieties for the logo icon */
.navBar__logo {
    float: left; /* arrange starting from left, after the last element from left */
    height: 3.7vh; /* fixed height */
    width: 5vh; /* fixed width*/
    padding: 2.5vh 0 0 5vh; /* some padding*/
}

/* proprieties for the text from the logo */
.navBar__textLogo {
    float: left; /* arrange starting from left, after the last element from left */
    color: white; /* color of the text */
    font-family: "Tajawal", sans-serif; /* font */
    font-weight: 800;
    font-size: 5vh;
    padding: 0.7vh 0 0 0.6vh;
    text-decoration: none; /* text is originally a link. Used to not underline */
}

/* proprieties of the search bar */
.navBar__search {
    height: 90%; /* take 90% of the left's height */
    float: left; /* arrange starting from left, after the last element from left */
    width: 60%; /* take 60% of the left's width */
    padding-left: 0.9vh;
    border-radius: 1.7vh;
    display: flex; /* flex mode => elements go one after another on one single line */
}

/* proprieties of the search icon */
.navBar__searchIcon {
    height: 3.3vh; /* set height */
    width: 3.3vh; /* set width */
    padding: 2.9vh 0.3vh 0 0; /* padding */
    margin-left: -4.1vh; /* to overflow over the search bar*/
}

/* proprieties of the menu icon */
.accordion__catIcon {
    height: 4.4vh;
    width: 3.9vh;
    padding: 2.2vh 0.3vh 0.7vh 0.8vh;
}

.accordion__catIcon:hover {
    background-image: linear-gradient(#A258B8, white);
}

.accordion {
    overflow: visible;
    cursor: pointer;
    transition: 0.5s;
}

.accordion__cat {
    z-index: 4;
    grid-template-columns: auto auto auto auto;
    float: right;
    margin-right: -6.7vh;
    display: none;
    row-gap: 1.7vh;
    box-shadow: 0.8vh 0.8vh 0.8vh rgb(57 18 78 / 31%);
    border-radius: 1.6vh;
    background-color: white;
    position: relative;
    width: 40%;
    height: 200%;
    padding: 2vh;
    overflow: auto;
    box-sizing: border-box;
}

.accordion__catBtn:hover {
    background-color: #f2f2f2;
}

.accordion__catBtn {
    row-gap: 1.7vh;
    column-gap: 1.7vh;
    cursor: pointer;
    border: 0.1vh solid rgba(171, 48, 236, 0.16);
    border-radius: 1.7vh;
    background-color: white;
    position: relative;
    padding: 0.8vh;
    margin: 0.8vh;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
}

/* column that floats to the right in the navBar*/
.navBar__right {
    width: 30%; /* takes 30% of the navBar's width */
    height: 100%;
    float: right;
}

/* proprieties of the account icon */
.navBar__pictureAccount {
    float: right; /* arrange starting from right, after the last element from left */
    position: relative;
    height: 4.2vh; /* fixed height */
    width: 4.2vh; /*fixed width */
    margin-right: 12%;
    border-radius: 100%; /* gives circle shape */
    border: 0.2vh solid #A258B8;
    margin-top: 1.6vh;
}

/* proprieties of the notification icon */
.navBar__helpIcon {
    float: right; /* arrange starting from right, after the last element from left */
    height: 37%;
    margin-top: 0.5vh;
    padding: 1.7vh;
}

/* proprieties of the notification icon */
.navBar__aboutIcon {
    float: right; /* arrange starting from right, after the last element from left */
    height: 37%;
    margin-top: 1.3vh;
    padding-top: 0.8vh;
}

/* proprieties of the notification icon */
.accordion__notificationsIcon {
    float: right; /* arrange starting from right, after the last element from left */
    height: 40%;
    padding: 2.1vh;;
}

.accordion__notifications {
    display: none;
    margin-top: 8.4vh;
    box-shadow: 0.8vh 0.8vh 0.8vh rgb(57 18 78 / 31%);
    border-radius: 1.7vh;
    background-color: white;
    position: absolute;
    width: 25%;
    z-index: 4;
    height: 400%;
    padding: 2vh;
    overflow: auto;
    box-sizing: border-box;
}

.accordion__notificationsText:hover {
    background-color: #f2f2f2;
}

.accordion__notificationsText {
    cursor: pointer;
    border: 0.16vh solid rgba(171, 48, 236, 0.16);
    border-radius: 1.6vh;
    background-color: white;
    position: relative;
    font-size: 2.4vh;
    vertical-align: middle;
    overflow: hidden;
    padding: 0.5vh 2vh 0.5vh 2vh;
    box-sizing: border-box;
    align-content: center;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

/* proprieties of notification text */
.accordion__notificationsTitle {
    font-family: "Tajawal", sans-serif;
    font-weight: 700;
    font-size: 3vh;
    color: #A258B8;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.accordion__notificationsLeft {
    width: 20%; /* of the underVideo */
    display: grid;
    height: 50%;
    float: left;
}

.navBar__userPicture {
    float: left;
    position: relative;
    height: 5vh;
    width: 5vh;
    margin-top: 2.5vh;
    overflow: hidden;
    border-radius: 100%;
    border: 0.16vh solid #A258B8;
}

.accordion__notificationsRight {
    float: right;
    display: grid;
    width: 80%; /* of the underVideo */
    height: 50%; /* of the underVideo */
}

/* proprieties of the upload icon */
.navBar__uploadIcon {
    float: right; /* arrange starting from right, after the last element from left */
    height: 35%;
    padding: 2.2vh 0 2vh 2vh;
}

/* proprieties of the trending button */
.navBar__trendingBtn {
    float: right;
    vertical-align: middle;
    text-align: center;
    height: 45%;
    font-family: "Tajawal", sans-serif;
    font-weight: 800;
    font-size: 2.2vh;
    color: #f2f2f2;
    text-decoration: none;
    margin-top: 2vh;
    margin-bottom: 3.4vh;
    background-color: #A258B8;
    padding: 1% 2% 1% 2%;
    box-sizing: border-box;
    border-radius: 0.8vh;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}


/* proprieties for when submit button is hovered */
.navBar__trendingBtn:hover {
    background-color: #954FA8; /* color of the button */
}
/* for a neat arrangement in the center of the screen, oes not take all the body */
.background {
    overflow: hidden;
    margin: auto; /* some margins, auto so it splits equally */
    width: 90%; /* takes up only 80% of the body's width */
    /*background-color: brown;*/
}

.background__columnLeft {
    float: left;
    width: 70%;
    /*background-color: #2691d9;*/
    display: block;
}

.background__columnRight {
    float: right;
    width: 30%;
}

.background_mainVideo {
    align-content: center;
    width: 80%;
    /*height: 90%;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.background__videoTitle {
    float: left;
    color: black;
    font-family: "Tajawal", sans-serif;
    font-weight: 700;
    font-size: 4vh;
    padding: 3% 0 0 10%;
    text-align: initial;
    text-decoration: none;
    margin: 0;
}

.accordion__moreIcon {
    float: right; /* arrange starting from right, after the last element from left */
    height: 17%;
    width: 3vh;
    margin-top: 5%;
    padding: 0 10% 0 0;
    z-index: 4;
}

.background__line {
    align-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #999999;
}

.accordion__description {
    float: right;
    display: none;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    height: 20%;
    padding: 0 12px 12px 12px;
    overflow: auto;
    box-sizing: border-box;
    width: 50%;
    margin-left: 5%;
    margin-right: auto;
    margin-top: 7%;
}

.background__description {
    font-size: 2.3vh;
}


.background__hashtags {
    float: left;
    color: #3F729B;
    font-family: "Tajawal", sans-serif;
    font-size: 11px;
    margin: 0;
    padding-right: 4px;
}

.background__comments {
    font-family: Tajawal, sans-serif;
    font-weight: 500;
    font-size: 3vh;
    padding-left: 10%;
}

.background__videoLeft{
    display:flex;
    justify-content: left;
    float: left;
    width: 10%;
    padding-left: 9%;
    display: block;
}

/* proprieties of userPicture, under the video */
.background--userPicture {
    float: left;
    display: block;
    position: relative;
    height: 4.2vh;
    width: 4.2vh;
    overflow: hidden;
    border-radius: 100%;
    border: 0.16vh solid #A258B8;
    margin-left: 10%;
    z-index: -1;
}

/* proprieties of username text, under the video */
.background__usernameText {
    float: left;
    display: block;
    color: #999999;
    font-family: "Tajawal", sans-serif;
    font-size: 2vh;
    padding-right: 0.6vh;
    text-decoration: none;
    margin: 1vh 0 10vh 0;
    text-align: center;
    padding-left: 1.5vh;
}

.background__videoRight{
    float: right;
    width: 70%;
    padding-right: 7%;
    display: block;
}

.background__comment{
    float: right;
    margin-right: 6vh;
    margin-bottom: 5vh;
    border-radius: 0.8vh;
    box-shadow: 0 0 0.8vh 1.5vh rgb(178 48 243 / 8%);
    height: 80%;
    width: 100%;
    overflow: auto;
}

.background__commentText{
    font-family: "Tajawal", sans-serif;
    color: black;
    padding: 0 2% 0 2%;
    font-size: 18px;
}

.background__video{
    padding:0 5% 0 5%;
    width: 45vh;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.background__videoTitleRight{
    float: left;
    color: black;
    font-family: "Tajawal", sans-serif;
    font-weight: 700;
    font-size: 2vh;
    padding: 0 0 10% 5%;
    text-align: initial;
    text-decoration: none;
    margin: 0;
}

.background__user{
    display:block;
}

::placeholder {
    font-family: "Tajawal", sans-serif;
    color: grey;
    font-size: 12px;
}


