@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500;700;800&display=swap');
body {
    margin: 0;
    font-family: Tajawal, sans-serif;
}

.background {
    padding: 0.5%;
    margin: 0 auto auto;
    top: 0;
    left: 5%;
    width: 80%;
    height: 100%;
}

.text--logo {
    float:left;
    color: white;
    font-family: "Tajawal", sans-serif;
    font-weight: 800;
    font-size: 30px;
    padding-top: 4px;
    padding-right: 4px;
    text-align: initial;
    text-decoration: none;

}

.menuBar {
    background-image: linear-gradient(#A258B8, white);
    overflow: hidden;
    height: 60px;
    position: relative;
    display: flex;
    color: white;
    font-family: "Tajawal", sans-serif;
    font-weight: 800;
    font-size: 30px;
}

.trendingButton {
    float: right;
    align-content: center;
    text-align: center;
    text-anchor: middle;
    height: 50%;
    display: flex;
    margin-top: 12px;
    margin-bottom: 12px;
    text-decoration: none;
    padding-block-start: 12px;
    color: #f2f2f2;
    background-color: #A258B8;
    border-radius: 5px;
    box-sizing: content-box;
    font-family: "Tajawal", sans-serif;
    font-weight: 800;
    font-size: 15px;
    padding: 0 12px;
    border: none;
}

.left {
    width: 70%;
    height: 100%;
    float: left;
}

.right {
    width: 30%;
    height: 100%;
    float: right;
}

.trendingButton:hover {
    background-color: #954FA8;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.logo {
    float: left;
    height: 22px;
    width: 30px;
    padding: 15px 2px 0 30px;
}

input[type=search] {
    font-family: "Tajawal", sans-serif;
    color: rgba(0, 0, 0, 0.94);
    font-size: 12px;
    width: 100%; /* Full width */
    padding: 10px; /* Some padding */
    border: 1px solid #A258B8; /* Gray border */
    border-radius: 5px; /* Rounded borders */
    box-sizing: content-box; /* How long are the boxes*/
    margin-top: 10px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

.search {
    height: 90%;
    float: left;
    width: 45%;
    padding-left: 5px;
    padding-top: 0;
    display: flex;
}

.search__icon {
    height: 20px;
    width: 20px;
    padding: 14px 2px 0 0;
    margin-left: -25px;
    border-radius: 5px;
}

.menu__icon {
    height: 27px;
    width: 23px;
    padding: 10px 2px 4px 5px;
    border-radius: 5px;
}

.notifications__icon {
    height: 40%;
    float: right;
    padding: 12px 2px 0 5px;
    border-radius: 5px;
}

.upload__icon {
    float: right;
    height: 35%;
    padding: 12px 2px 0 5px;
    border-radius: 5px;
}

.profile-account {
    float: right;
    position: relative;
    height: 25px;
    margin-right: 12%;
    width: 25px;
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid #A258B8;
    margin-top: 10px;
}

.user_picture {
    float: left;
    position: relative;
    height: 25px;
    width: 25px;
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid #A258B8;
}

.text__title{
    float:left;
    color: black;
    font-family: "Tajawal", sans-serif;
    font-weight: 700;
    font-size: 12px;
    /*padding-top: 4px;*/
    padding-right: 4px;
    text-align: initial;
    text-decoration: none;
    margin:0;

}

.under_video{
    /*padding: 1%;*/
    overflow: hidden;
    width: 90%;
    position: relative;
    display: flex;
    color: white;
}

.under_video_left{
    width: 15%;
    display: grid;
    height: 100%;
    float: left;
}

.under_video_right{
    float: right;
    display: grid;
    width: 85%;
    height: 100%;
}

.username_text{
    float:left;
    color: #999999;
    font-family: "Tajawal", sans-serif;
    font-size: 11px;
    padding-right: 4px;
    text-decoration: none;
    margin:0;
    text-align: center;
}

.loadButton{
    align-content: center;
    text-align: -moz-center;
padding: 0 10px ;
    text-decoration: none;
    padding-block-start: 12px;
    border-radius: 5px;
    box-sizing: content-box;
    border: none;
    font-family: "Tajawal", sans-serif;
    font-size: 18px;
    color: #A258B8;
    background-color: transparent;
    color: #A258B8;
    align-content: center;
}

.loadButton:hover{
    box-shadow: rgba(179,52,231,0.3);
}
.load_text{

}
.hashtags{
    float:left;
    color: #3F729B;
    font-family: "Tajawal", sans-serif;
    font-size: 11px;
    margin:0;
    padding-right: 4px;
}
.video{
    width: 90%;
    height: 133px;
}

.container {
    border-radius: 20%;
    padding: 1%;
}

/* Create two columns that float next to each other */

.column {
    float: left;
    width: 25%;
    padding-top: 5%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}