@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500;700;800&display=swap');

body {
    /* Sets margin to 0 => body extends in every corner */
    margin: 0;
    /* Sets all text to font Tajawal */
    font-family: Tajawal, sans-serif;
}

/* proprieties input of search bar*/
input[type=search] {
    font-family: "Tajawal", sans-serif; /* font */
    font-size: 12px; /* size */
    width: 100%; /* Full width */
    outline-color: #A258B8; /* when clicked and while in the search bar, there will be a #A258B8 border */
    padding: 10px; /* Some padding between text and box, same in all four directions: top, bottom, left, right */
    border: 1px solid #A258B8; /* #A258B8 border */
    border-radius: 5px; /* Rounded border, used px and not % to round the corners and not the edges */
    box-sizing: border-box; /* How long are the boxes*/
    margin-top: 13px; /* Add a top margin */
    margin-bottom: 13px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* CLASSES */

/* proprieties for the header */
.menuBar {
    background-image: linear-gradient(#A258B8, white); /* make the header's background a gradient */
    overflow: hidden; /* when header overflows background, do not show it*/
    height: 60px; /* set height */
    position: relative; /* */
    display: flex; /* flex mode => elements go one after another on one single line */
    flex-wrap: wrap; /* elements break into multiple lines, depending on the space there is */
}

/* column that floats to the left in the menuBar*/
.menuBar__left {
    width: 70%; /* takes 70% of the menuBar's width */
    height: 100%;
    float: left;
}

/* proprieties for the logo icon */
.menuBar--logo {
    float: left; /* arrange starting from left, after the last element from left */
    height: 22px; /* fixed height */
    width: 30px; /* fixed width*/
    padding: 15px 0 0 30px; /* some padding*/
}

/* proprieties for the text from the logo */
.menuBar--textLogo {
    float: left; /* arrange starting from left, after the last element from left */
    color: white; /* color of the text */
    font-family: "Tajawal", sans-serif; /* font */
    font-weight: 800;
    font-size: 30px;
    padding: 4px 0 0 4px;
    text-decoration: none; /* text is originally a link. Used to not underline */
}

/* proprieties of the search bar */
.menuBar__search {
    height: 90%; /* take 90% of the left's height */
    float: left; /* arrange starting from left, after the last element from left */
    width: 60%; /* take 60% of the left's width */
    padding-left: 5px;
    display: flex; /* flex mode => elements go one after another on one single line */
}

/* proprieties of the search icon */
.menuBar__searchIcon {
    height: 20px; /* set height */
    width: 20px; /* set width */
    padding: 17px 2px 0 0; /* padding */
    margin-left: -25px; /* to overflow over the search bar*/
}

/* proprieties of the menu icon */
.menuBar__catIcon {
    height: 27px;
    width: 23px;
    padding: 13px 2px 4px 5px;
}

/* column that floats to the right in the menuBar*/
.menuBar__right {
    width: 30%; /* takes 30% of the menuBar's width */
    height: 100%;
    float: right;
}

/* proprieties of the account icon */
.menuBar__pictureAccount {
    float: right; /* arrange starting from right, after the last element from left */
    position: relative;
    height: 25px; /* fixed height */
    width: 25px; /*fixed width */
    margin-right: 12%;
    border-radius: 100%; /* gives circle shape */
    border: 1px solid #A258B8;
    margin-top: 10px;
}

/* proprieties of the notification icon */
.menuBar__notificationsIcon {
    float: right; /* arrange starting from right, after the last element from left */
    height: 40%;
    padding: 14px;
}

/* proprieties of the upload icon */
.menuBar__uploadIcon {
    float: right; /* arrange starting from right, after the last element from left */
    height: 35%;
    padding: 14px 0 12px 14px;
}

/* proprieties of the trending button */
.menuBar__trendingBtn {
    float: right;
    vertical-align: middle; /* vertical alignment */
    text-align: center; /* horizontal alignment */
    height: 45%; /* takes 45% of the left's height */
    font-family: "Tajawal", sans-serif;
    font-weight: 800;
    font-size: 15px;
    color: #f2f2f2; /* color of the text */
    text-decoration: none; /* text is originally a link. Used to not underline */
    margin-top: 12px;
    margin-bottom: 20px;
    background-color: #A258B8;
    padding: 2px 2% 0 2%;
    box-sizing: border-box;
    border-radius: 5px;
}

/* proprieties for when submit button is hovered */
.menuBar__trendingBtn:hover {
    background-color: #954FA8; /* color of the button */
}

/* for a neat arrangement in the center of the screen, oes not take all the body */
.background {
    overflow: hidden;
    margin: auto; /* some margins, auto so it splits equally */
    width: 80%; /* takes up only 80% of the body's width */
}

.background__column {
    float: left;
    width: 25%; /* of the background block */
    padding-top: 5%;
}

/* Clear floats after the columns */
.background__row:after {
    content: "";
    display: table;
    clear: both;
}

.background__video {
    width: 90%;
    height: 133px;
}

.background__underVideo {
    /*padding: 1%;*/
    overflow: hidden;
    width: 90%;
    position: relative;
    display: flex;
    color: white;
}

.background__underVideoLeft {
    width: 15%;
    display: grid;
    height: 100%;
    float: left;
}

.background__underVideoRight {
    float: right;
    display: grid;
    width: 85%;
    height: 100%;
}

.background--userPicture {
    float: left;
    position: relative;
    height: 25px;
    width: 25px;
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid #A258B8;
}

.background__usernameText {
    float: left;
    color: #999999;
    font-family: "Tajawal", sans-serif;
    font-size: 11px;
    padding-right: 4px;
    text-decoration: none;
    margin: 0;
    text-align: center;
}

.background__title {
    float: left;
    color: black;
    font-family: "Tajawal", sans-serif;
    font-weight: 700;
    font-size: 12px;
    /*padding-top: 4px;*/
    padding-right: 4px;
    text-align: initial;
    text-decoration: none;
    margin: 0;
}

.background__hashtags {
    float: left;
    color: #3F729B;
    font-family: "Tajawal", sans-serif;
    font-size: 11px;
    margin: 0;
    padding-right: 4px;
}

.background__loadBtn {
    align-content: center;
    text-align: -moz-center;
    padding: 0 10px;
    text-decoration: none;
    padding-block-start: 12px;
    border-radius: 5px;
    box-sizing: content-box;
    border: none;
    font-family: "Tajawal", sans-serif;
    font-size: 18px;
    color: #A258B8;
    background-color: transparent;
}

.background__loadBtn:hover {
    box-shadow: rgba(179, 52, 231, 0.3);
}




